main {
    .title-recru {
        font-size: 36px;
        font-family: SFUR;
        margin-bottom: 20px;
        text-transform: uppercase;
        @include xs {
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
    .des-recru {
        font-size: 16px;
        line-height: 1.5;
    }
    .t-small {
        font-size: 30px;
        font-family: SFUR;
        margin-bottom: 15px;
        text-transform: uppercase;
        @include xs {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
    .content-recru {
        padding: 15px 0;
    }
    .recruitment-info {
        .info-area {
            display: flex;
            &:nth-child(odd) {
                .img-recruitment {
                    position: relative;
                    left: -25%;
                    height: 100%;
                    width: 50%;
                    object-fit: cover;
                }
                .text-recruitment {
                    width: 100%;
                    position: relative;
                    padding-top: 150px;
                    &::before {
                        content: "";
                        height: 6px;
                        width: 100px;
                        background: black;
                        position: absolute;
                        top: 120px;
                        left: -80px;
                    }
                }
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
                padding: 80px 0;
                .img-recruitment {
                    position: relative;
                    right: 0;
                    height: 100%;
                    width: 50%;
                    object-fit: cover;
                }
                .text-recruitment {
                    width: 100%;
                    position: relative;
                    padding-top: 50px;
                    padding-right: 30px;
                    &::before {
                        content: "";
                        height: 6px;
                        width: 50px;
                        background: black;
                        position: absolute;
                        top: 20px;
                        left: 0;
                    }
                }
            }
        }
        @include xs {
            .info-area {
                display: block;
                &:nth-child(odd) {
                    .img-recruitment {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        left: 0;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;
                        }
                    }
                    .text-recruitment {
                        width: 100%;
                        position: relative;
                        padding-top: 50px;
                        &::before {
                            content: "";
                            height: 6px;
                            width: 100px;
                            background: black;
                            position: absolute;
                            top: 30px;
                            left: -80px;
                        }
                    }
                }
                &:nth-child(even) {
                    padding: 50px 0;
                    .img-recruitment {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        right: 0;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;
                        }
                    }
                    .text-recruitment {
                        &::before {
                            content: "";
                            height: 6px;
                            width: 100px;
                            background: black;
                            position: absolute;
                            top: 20px;
                            left: -80px;
                        }
                    }
                }
            }
        }
    }
    .position {
        .line-rec {
            width: 60px;
            height: 6px;
            background: #000;
            display: block;
            margin: 20px auto;
        }
        .title-recru {
            position: relative;
            padding-bottom: 250px;
            &::before {
                content: "";
                position: absolute;
                width: 100px;
                height: 6px;
                background: black;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
            }
            @include xs {
                padding-bottom: 0;
            }
        }
        .list-position {
            .position-box {
                position: relative;
                height: 100%;
                width: 100%;
                .recru-info {
                    width: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    top: -200px;
                    .item-rec {
                        width: 300px;
                        height: auto;
                        border: 1px #ddd solid;
                        padding: 15px;
                        background-color: #fff;
                        border-bottom: 12px solid #f4352c;
                        .title-red {
                            margin-top: 30px;
                        }
                        .des-recru {
                            margin-bottom: 15px;
                        }
                        .submit-cv {
                            font-size: 26px;
                            font-family: SFUR;
                            color: #f4352c;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .bg-recru {
                background-image: url(../img/bg-bottom-tuyendung.jpg);
                background-attachment: fixed;
                background-size: cover;
                height: 500px;
                width: 100%;
                object-fit: cover;
                overflow: hidden;
                @include xs {
                    background-image: none;
                    height: auto;
                }
            }
            @include xs {
                .position-box {
                    .recru-info {
                        display: block;
                        position: relative;
                        top: 0;
                        .item-rec {
                            margin: 30px auto;
                        }
                    }
                }
            }
        }
    }
}